* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #293241;
    color: #E0FBFC;
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    overflow: hidden;
}

.navbar-brand {
    color: #EE6C4D!important;
}

.query {
    margin-top: -20px;
    margin-bottom: 1.5rem;
}

a:hover {
    color: #EE6C4D;
}

.navbar-nav {
    margin-left: auto;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search i {
    font-size: 2rem;
    color: #EE6C4D;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}

a {
    text-decoration: none;
    color: #E0FBFC;
}

#search {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    padding: 0 1rem;
    margin-bottom: 50px;
}

.gifs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    grid-template-rows: 250px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:stretch; */
    position: relative;
}

.gif-container {
    width: 100%;
    max-height: 250px;
    padding: 25px 10px;
    background: #EE6C4D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gif-container img {
    width: 100%;
    height: 90%;
}

.copy-container {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
}

.btn-copy {
    color: #eee;
    text-decoration: none;
    padding: 2px 8px;
    background: #3D5A80;
    margin-bottom: 2px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-copy:hover {
    color: #fff;
    background: rgb(45, 72, 109);
}

.gif-container img {
    width: 100%;
    height: 100%;
}

.btn-projects {
    background: #EE6C4D;
    color: #fff!important;
    padding: .5rem .5rem;
    transition: 250ms ease-out;
}

.btn-projects:hover {
    background: #f35a34;
}


/* .nav-item {
    margin-left: 2rem;
} */


/* .navbar-toggler-icon {
    color: #fff!important;
} */


/*MEDIA QUERIES */

@media(max-width:1200px) {
    .gifs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:786px) {
    .gifs {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-projects {
        background: none;
        color: rgba(255, 255, 255, .55)!important;
    }
}

@media(max-width:500px) {
    .gifs {
        grid-template-columns: repeat(1, 1fr);
    }
}